*{
    margin:0;
    padding:5px;  
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0);
}

::-webkit-scrollbar-track {
  background: rgb(255, 220, 220);
}

body{
  background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38313c, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38333c, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a{
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px; 
  
}

.logo{
    font-family: Blacksword;
    color: #000000;
}

.aboutLink{
    font-family: Blacksword;
    color: #000000;
    text-decoration: none;
    padding-right:25px;
}

.topPart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 280px;
}

.name{
  font-family: Blacksword;
  font-size: 80px;
}

.imageCropper{
  width: 500px;
    height: 500px;
    min-width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 90px;
}

.HeadPic{
   display: inline;
  margin: 0 auto;
  margin-left: -19%; /*centers the image*/
  height: 900px;
  width: auto;
}

.line {
  margin-top:20px;
  border:none;
  background-color: #000000;
  height:0px
}

.resume{
  font-size: 30px;
  text-decoration: underline;
}

.icons{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color:black;
}

.bottom{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  margin-top: 50px;
  font-family: SF pro;
}

.aboutMe{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph{
  width:50%;
}

