*{
    margin:0;
    padding:5px;  
    background-color: rgb(255, 235, 218);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:relative;
   
}

.logo{
    font-family: Blacksword;
    color: #000000;
}

.aboutLink{
    font-family: Blacksword;
    color: #000000;
}

.landingPage{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height:100vh;
    padding-top: 100px;
}

.name{
    font-family: Blacksword;
    font-size: 40px;
    letter-spacing: 2px;
}

.title{
    letter-spacing: 2px;
    font-family: SF pro;
    font-weight: lighter;
    font-size: 90px;
    text-decoration: none;
    color: #000000;
}

.websiteTitle{
    font-family: Blacksword;
    font-size: 40px;
    letter-spacing: 2px;
}

#mouse-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#mouse-scroll div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #000000; 
    border-bottom: 2px solid #000000;
    margin: 0 0 3px 5px;
    
  }
#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite; 
      -moz-animation: mouse-scroll 1s infinite:
  }
#mouse-croll .down-arrow-1 {
     -webkit-animation-delay: .1s; 
     -moz-animation-delay: .1s;
     -webkit-animation-direction: alternate;
  }
#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
  }
#mouse-scroll .down-arrow-3 {
     -webkit-animation-delay: .3s;
     -moz-animation-dekay: .3s;
     -webkit-animation-direction: alternate;
  }


  @-webkit-keyframes animated-mouse {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
@-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
@keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

/*projects section*/

.containerTitle{
  font-family: Blacksword;
  padding-left: 30px;
}

/* Links */
a {
  color: var(--gray);
  text-decoration: none;
}

a:hover {
  color: var(--black);
}

i{
  color: #000000;
}

/* Images */
img {
  width: 100%;
  height: 43vh;
  object-fit: cover;
  
}

.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Intro */
.intro {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
}

.Protitle {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  

  letter-spacing: 2px;
  font-family: SF pro;
  font-weight: lighter;
}

.title .underline {
  color: var(--black);
}

/* Description */
.description {
  position: relative;
  z-index: 1;
  margin: 1rem 0 1.5rem 0;
  font-size: 1rem;
  opacity: 0;
  animation: fadeIn 0.8s 0.6s ease forwards;
  padding-left:20px;
  letter-spacing: 1px;
  font-family: SF pro;
  font-weight: lighter;
}

/* Slider Item */
.slider-item {
  display: none;
}

.slider-item.active {
  display: block;
}

.slider-item.active .hide-mobile {
  display: none;
}

.slider-item.active .show-mobile {
  display: block;
  margin: 1rem 0;
}

/* Buttons */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-size: inherit;
  width: 55px;
  height: 55px;
}

/* Controls */
.controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0 0.25rem 0;
  padding-right: 30px;
}

.controls .previous {
  border: 1px solid black;
}

.controls .next {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.controls .icon {
  position: relative;
  margin: auto;
  width: 20px;
  height: 1px;
}

.controls .icon.arrow-left::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 4px;
  width: 20px;
  height: 20px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(-135deg);
}

.controls .icon.arrow-right::before {
  content: '';
  position: absolute;
  right: 1px;
  top: 4px;
  width: 20px;
  height: 20px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(45deg);
}

.controls .icon.transition {
  transition: transform 0.1s ease;
}

.controls .previous:hover .icon.transition {
  transform: scale(1.5);
}

.controls .next:hover .icon.transition {
  transform: scale(1.5);
}

/* Active Image */
:active.image-holder::before {
  position: absolute;
  
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: var(--white);*/
  transform-origin: 100% 50%;
  animation: revealRight 1s  cubic-bezier(0.23, 1, 0.75, 1) forwards;
}



@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Toggle Nav */
.toggle-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  line-height: 1.9;
}

.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
}

/* Flex Nav */
.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: var(--white);
  text-align: center;
}

.flex-nav ul.active {
  display: flex;
}

/* Media Queries */
@media (min-width: $md) {
  nav ul {
    justify-content: flex-end;
  }

  #logo {
    font-size: 1.25rem;
  }

  .controls {
    padding: 1.75rem 0 1.75rem 0;
  }

  .intro {
    animation: fadeInLeft 0.8s 0.4s ease forwards;
  }

  .intro .title {
    font-size: 4.25rem;
    padding: 2.5rem 2.5rem 3rem 2.5rem;
    background: var(--white);
  }

  img {
    height: 60vh;
  }

  .description {
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
  }

  .previous, .next {
    flex-basis: 8.33%;
  }

  .slider-item.active .hide-mobile {
    display: block;
  }

  .slider-item.active .show-mobile {
    display: none;
  }

  .toggle-nav {
    display: none;
  }

  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    justify-content: flex-end;
  }

  nav {
    padding: 1.75rem 0 1.75rem 0;
  }

  nav ul {
    line-height: 2.2;
    display: flex;
    justify-content: flex-start;
  }

  nav li {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 2rem 0 0;
  }

  nav li:nth-child(3) {
    margin: 0;
  }
}

/* Visually Hidden */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



/*contact section*/

.contactForm{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  font-family: SF pro;
  margin-bottom: 80px;
  padding-top: 200px;
}

input{
  width:40%;
}

.message{
  height:20vh;
}

.sendButton{
  border:black 2px solid;
  width:150px;
}

/*footer*/

footer{
display:flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

i{
  color: rgb(0, 0, 0);
}







  